.button {
  cursor: pointer;
  display: block;
  border: none;
  outline: none;
  background: none;
}

.light {
  color: var(--color-primary);

  &:hover {
    color: var(--color-secondary);
  }
}

.dark {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  &:hover {
    box-shadow:
      0 1px 3px 1px rgba(0, 0, 0, 0.15),
      0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
}

.outlined {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);

  &:hover {
    border: 1px solid var(--color-primary);
    background: rgba(40, 40, 40, 0.08);
  }
}
